<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>

    <script src="assets/js/admin-page.js"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/admin-page.css">
</head>
<body>

    <div class="wrapper style1">
    <h2>Admin Page</h2>

    <button onclick="div_show('abc')">Add a Product</button>
    <form><button type='submit'>Log Out</button></form>
    </div>

    <div class="wrapper style1">

            <div class="container">
            <h2>Current Products</h2> <br>
            <div class="row">
                <% for(var i=0; i<products.length; i++) {%>
                        <article class ="4u 12u(mobile) special">

                                <a href="<%= products[i].amazon_url %>" class="image featured" style="margin: 0;"><img src="<%= products[i].image_url %>" alt="" /></a>

                                Name: <strong><%= products[i].name %></strong>
                                <br>
                                Description: <strong><%= products[i].description %></strong>
                                <br>
                                URL: <strong><a href="<%= products[i].amazon_url %>"><%= products[i].amazon_url %></a></strong>
                                <br>

                                <form action="/admin/delete?id=<%= products[i].id %>" method="POST">
                                <button type="submit">Delete</button>
                                </form>
                                <button onclick="div_show('editform<%= products[i].id %>')">Edit Product</button>

                        </article>
                <% } %>

            </div>
         </div>

         <% for(var i=0; i<products.length; i++) {%>
                 <article class ="4u 12u(mobile) special">
                   <div id="editform<%= products[i].id %>" class="def">
                           <!-- Popup Div Starts Here -->
                           <div id="popupContact">
                           <!-- Contact Us Form -->
                           <form action="/admin/edit?id=<%= products[i].id %>" method=POST id=ProdForm>

                                       <img id="close" src="images/close.png" onclick ="div_hide('editform<%= products[i].id %>')">
                                       Product Name:<br/>
                                       <input type="text" name="name" placeholder="Product Name" value="<%= products[i].name %>">
                                       <br> <br>

                                       Product Image:<br/>
                                       <input type="text" name="image_url" value="<%= products[i].image_url %>">
                                       <br><br>

                                       Product URL:<br>
                                       <input type="text" name="amazon_url" placeholder="Product URL" value="<%= products[i].amazon_url %>">
                                       <br><br>

                                       Product Description:<br/>
                                       <textarea name="description" cols="30" rows="10"><%= products[i].description %></textarea>
                                       <br> <br>

                                       <button type="submit">Save Changes</button>
                                   </form>
                             </div>
                   </div>

                 </article>
         <% } %>


        <div id="abc">
               <!-- Popup Div Starts Here -->
               <div id="popupContact">
               <!-- Contact Us Form -->
               <form action="/admin/create" method=POST id=ProdForm>

                           <img id="close" src="images/close.png" onclick ="div_hide('abc')">
                           Product Name:<br/>
                           <input type="text" name="name" placeholder="Product Name">
                           <br> <br>

                           Product Image:<br/>
                           <input type="text" name="image_url">
                           <br><br>

                           Product URL:<br>
                           <input type="text" name="amazon_url" placeholder="Product URL">
                           <br><br>

                           Product Description:<br/>
                           <textarea name="description" cols="30" rows="10"></textarea>
                           <br> <br>

                           <button type="submit">Add</button>
                       </form>
               </div>
       </div>

</body>
</html>
